.about-container {
  background-color: aquamarine;
  background-image: url("../../images/img-2.JPG");
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  float: right;
}

.about-header {
  color: #fff;
  font-size: 45px;
  margin-right: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-me {
  color: #fff;
  float: left;
  margin-left: 2em;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-me > h3 {
  margin-top: 2em;
  font-size: 40px;
}

.about-me > p {
  margin-top: 5em;
  font-size: 20px;
  margin-bottom: 5em;
}

.about-btns {
  margin-top: 2em;
}

.about-btns .btn {
  margin: 6px;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
}

.img {
  color: #fff;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  object-fit: contain;
  align-content: center;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  .about-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-container > h1 {
    font-size: 50px;
  }

  .about-container > p {
    font-size: 30px;
  }

  .about-header {
    color: #fff;
    font-size: 45px;
    margin-right: auto;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about-me {
    color: #fff;
    float: left;
    margin-left: 2em;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about-me > h3 {
    margin-top: 2em;
    font-size: 40px;
  }

  .about-me > p {
    margin-top: 5em;
    font-size: 20px;
    margin-bottom: 5em;
  }

  .col {
    flex: 100%;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
